.hide {
    display: none;
}

.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
    padding: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #e8e8e8;
}

.listItem a:hover {
    text-decoration: none;
}

.listItem .title {
    font-weight: bold;
    font-size: 1.1rem;
}

.subtitle {
    float: left;
    width: 100%;
    margin-top: 0.3rem;
    font-size: 0.85rem;
    font-weight: bold;
    color: #333;
}

.subtitleXl {
    font-size: 1.25rem;
    color: #333;
}

.date {
    float: left;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.7rem;
    color: #777;
}

.dateXl {
    font-size: 0.9rem;
    color: #777;
}

.summary {
    font-size: 0.8rem;
}

.navBar {
    padding: 10px 0;
    text-align: center;
}

.navLink {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: bold;
    color: #676767;
    margin-right: 4%;
}

.navLink:hover {
    color: #0070f3;
    text-decoration: none;
}